@import url("./fonts/MrsEavesItalic.css");

/* GENERAL */
* {
    font-family: Inter;
}

body {
    min-height: 100vw;
    margin: 0;
    background-image: url("./img/background.jpg");
    background-size: 100% 40rem;
    background-repeat: no-repeat;
}

.container {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas: "side-l content side-r";
}

.contentWrapper {
    grid-area: content;
    grid-row: auto;
    position: relative;
}

.button {
    --button-bg: #2a704f;
    --button-fg: #f0f0f0;
    --button-font-size: 1rem;
    --button-shadow: 0;

    padding: 0.5rem 1.2rem;
    color: var(--button-fg);
    background-color: var(--button-bg);
    text-decoration: none;
    font-weight: 300;
    font-size: var(--button-font-size);
    opacity: 0.8;
    transition: 200ms ease-in-out;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, calc(0.5 * var(--button-shadow)));

    &:hover {
        opacity: 1;
    }
}


/* HEADER */
header {
    .contentWrapper {
        padding-top: 1.8rem;
        display: flex;
        justify-content: space-between;
    }

    .headerLogo {
        margin-left: 5rem;
        color: #ffffff;
        opacity: 68%;
        font-size: clamp(5rem, 10vw, 7.5rem);
        font-family: MrsEaves;
        text-decoration: none;
    }

    .menuToggle {
        display: none;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        color: #ffffff;
        font-size: 1.3rem;
    }

    li {
        float: left;

        a {
            display: block;
            color: #ffffff;
            text-align: center;
            padding: 1rem 1.125rem;
            text-decoration: none;
            transition: 250ms;
        }

        a:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}


/* SECTION HERO */
section.hero .contentWrapper {
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 4rem;

    .coffeeLogo {
        position: relative;
        display: block;
        height: 21.75rem;
        aspect-ratio: 1 / 1;
        transform: translateY(1rem);
    }

    .titles {
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        h1 {
            margin: 0;
            font-size: 4rem;
        }

        h2 {
            margin: 0;
            font-size: 2.5rem;
            font-weight: 200;
        }

        #demoButton {
            --button-font-size: 1.2rem;
            --button-shadow: 1;

            display: inline-block;
            margin-top: 2rem;
        }
    }
}


/* SECTION SOLUTIONS */
section.solutions {
    padding-top: 4.8rem;
    background-color: #ffffff;
}

section.solutions .contentWrapper {
    display: grid;
    grid-template-columns: 1fr repeat(4, min(16rem, max(13.5rem, 12%))) 1fr;
    grid-template-rows: 18.75rem auto;

    .tab-label {
        grid-row: 1;
        position: relative;
        z-index: 299;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        color: #5c5b5b;
        font-size: 1.2rem;
        background-color: #ffffff;
        transition: all 300ms ease-in-out 1ms, 1ms z-index linear 200ms;

        input {
            display: none;
        }

        img {
            width: min(8.5rem, max(10vw, 7rem));
            padding-bottom: 1rem;
            transition: 200ms ease-in-out;
        }

        .bigger {
            font-size: 1.5rem;
        }
    }

    .tab-label::before {
        content: "";
        position: absolute;
        left: 0;
        top: calc(100% - 0.1rem);
        width: 100%;
        height: 1rem;
        background-color: #ffffff;
        z-index: 400;
        opacity: 0;
        transition: 1ms ease-in-out 200ms;
    }

    .tab-label:nth-of-type(1) {
        grid-column: 2;
    }

    .tab-label:nth-of-type(2) {
        grid-column: 3;
    }

    .tab-label:nth-of-type(3) {
        grid-column: 4;
    }

    .tab-label:nth-of-type(4) {
        grid-column: 5;
    }

    .tab-label:hover>img {
        transform: translateY(-0.5rem);
    }

    .tab-label:has(> input:checked) {
        font-weight: 500;
        z-index: 301;
        box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.4);
        transition: all 200ms ease-in-out 1ms;

        img {
            transform: scale(1.1);
        }
    }

    .tab-label:has(> input:checked)::before {
        opacity: 1;
    }

    article {
        /* margin-top: 1rem; */
        grid-row: 2;
        grid-column: 1 / 7;
        padding: 3.5rem;
        color: #4f4f4f;
        background-color: #ffffff;
        /* display: none; */
        z-index: 300;
        opacity: 0;
        transition: 400ms ease-in-out;
        font-weight: 300;

        .solution-pic {
            width: 41rem;
            display: block;
            margin: auto;
        }

        h3 {
            font-size: 1.8rem;
            font-weight: inherit;
        }

        p {
            font-size: 0.875rem;
        }
    }

    .tab-label:has(> input:checked)+article {
        /* display: block; */
        /* transition: 300ms ease-in-out 100ms; */
        opacity: 1;
        box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.4);
    }
}

/* SECTION WHY */
section.why {
    box-shadow: inset 0 -0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

section.why .contentWrapper {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 2rem 1fr;

    img {
        display: block;
        width: 100%;
    }

    article {
        grid-column: 3;

        h3 {
            font-size: 1.8rem;
            font-weight: 300;
        }

        ul {
            font-weight: 200;
            list-style-image: url("./img/list-icon.jpg");
            padding-left: 1.6rem;

            li {
                margin-bottom: 1rem;
                padding-left: 0.5rem;
                transition: 200ms ease-in-out;
            }

            li:hover {
                transform: translateX(1rem);
            }
        }
    }
}

/* SECTION FORMS */
section.forms .contentWrapper {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    form {
        display: block;
        width: calc(50% - 1rem);
        padding: 0.25rem 2rem 1.25rem 2rem;
        box-sizing: border-box;
        border-radius: 0.5rem;

        h3 {
            color: #ffffff;
            font-size: 1.5rem;
            font-weight: 200;
            /* line-height: 1rem; */
            margin-bottom: 0.75rem;
        }

        input {
            padding: 0.2rem 0.7rem;
            font-size: 1rem;
            outline: none;
            border: none;
            width: calc(50% - 6rem);
            margin-right: 0.5rem;
        }

        input[type="submit"] {
            --button-bg: rgba(0, 0, 0, 0.7);
            --button-fg: #ffffff;
            --button-font-size: 1rem;
            --button-shadow: 0;
            padding: 0.4rem 0.1rem;
            width: 7rem;
            outline: none;
            border: none;
            display: inline-block;
            margin: 0;
        }
    }

    .login {
        background-color: #e67624;
    }

    .subscribe {
        background-color: #01d4f3;

        input[type="email"] {
            padding: 0.2rem 0.7rem;
            font-size: 1rem;
            outline: none;
            border: none;
            width: calc(100% - 11rem);
            margin-right: 2rem;
        }
    }
}

/* MEDIA QUERIES */
@media screen and (min-width: 1600px) {
    section.solutions .contentWrapper {
        article {
            display: flex;
            flex-direction: row-reverse;
            padding-left: 10%;
            padding-right: 10%;

            .solution-pic {
                display: block;
                width: 45%;
                height: auto;
            }
        }
    }

    section.why .contentWrapper {
        grid-template-columns: 1fr 45rem 2rem 45rem 1fr;

        img {
            grid-column: 2;
        }

        article {
            grid-column: 4;
        }
    }

    section.forms .contentWrapper {
        margin-left: 10%;
        margin-right: 10%;
        gap: 5%;
    }
}

@media screen and (max-width: 1100px) {
    .container {
        grid-template-columns: 3% 1fr 3%;
    }

    section.hero .contentWrapper {
        gap: 2rem;
    }

    section.solutions .contentWrapper {
        grid-template-columns: repeat(4, 1fr);

        .tab-label:nth-of-type(1) {
            grid-column: 1;
        }

        .tab-label:nth-of-type(2) {
            grid-column: 2;
        }

        .tab-label:nth-of-type(3) {
            grid-column: 3;
        }

        .tab-label:nth-of-type(4) {
            grid-column: 4;
        }

        article {
            grid-column: 1 / 5;
        }
    }

    section.why .contentWrapper {
        grid-template-columns: 1fr;
        padding: 1.5rem;

        img {
            grid-column: 1;
        }

        article {
            grid-column: 1;
        }
    }

    section.forms .contentWrapper {
        flex-direction: column;
        gap: 2rem;

        form {
            width: 70%;
        }
    }
}

@media screen and (max-width: 790px) {
    .container {
        grid-template-columns: 1% 1fr 1%;
    }

    header {
        padding-bottom: 2rem;

        .contentWrapper {
            align-items: center;
        }

        .headerLogo {
            font-size: 8rem;
        }

        nav {
            position: relative;
            margin-right: 1.5rem;
        }

        .menuToggle {
            padding: 0.6rem 1.5rem;
            text-align: center;
            display: block;
            color: #ffffff;
            font-size: 2.5rem;
            transition: 250ms ease-in-out;
        }

        .menuToggle:hover,
        .menuToggle:has(+ ul:hover) {
            background-color: rgba(255, 255, 255, 0.3);
        }

        ul {
            visibility: hidden;
            position: absolute;
            right: 0;
            z-index: 500;
            opacity: 0;
            backdrop-filter: blur(0.4rem);
            box-shadow: 0 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.5);
            transition: visibility 0s, opacity 250ms ease;
        }

        ul:hover,
        .menuToggle:hover+ul {
            visibility: visible;
            opacity: 1;
        }

        li {
            float: none;

            a {
                color: #101010;
                background-color: rgba(255, 255, 255, 0.7);
                padding: 0.5rem 2rem;
                font-size: 2rem;
            }

            a:hover {
                background-color: #ffffff;
            }
        }
    }

    section.hero .contentWrapper {
        height: min-content;
        gap: 3rem;

        .coffeeLogo {
            height: 12rem;
            transform: scale(1.25) translateY(1rem);
        }

        .titles {
            h1 {
                font-size: 3rem;
            }

            h2 {
                font-size: 1.8rem;
            }

            #demoButton {
                margin-top: 1rem;
                --button-font-size: 1.5rem;
            }
        }
    }

    section.solutions .contentWrapper {
        grid-template-rows: auto auto;

        .tab-label {
            aspect-ratio: 1;

            span {
                display: none;
            }

            img {
                width: 70%;
                padding: 0;
            }
        }

        article .solution-pic {
            width: 100%;
        }
    }

    section.forms .contentWrapper {
        flex-direction: column;
        gap: 2rem;

        form {
            width: calc(100% - 2rem);
        }
    }
}