@import url("./fonts/MrsEavesItalic.css");

/* GENERAL */
* {
    font-family: Inter;
}

body {
    min-height: 100vw;
    margin: 0;
    background-image: url("./img/background.jpg");
    background-size: 100% 40rem;
    background-repeat: no-repeat;
}

.container {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas: "side-l content side-r";
}

.contentWrapper {
    grid-area: content;
    grid-row: auto;
    position: relative;
}

.button {
    --button-bg: #2a704f;
    --button-fg: #f0f0f0;
    --button-font-size: 1rem;
    --button-shadow: 0;

    padding: 0.5rem 1.2rem;
    color: var(--button-fg);
    background-color: var(--button-bg);
    text-decoration: none;
    font-weight: 300;
    font-size: var(--button-font-size);
    opacity: 0.8;
    transition: 200ms ease-in-out;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, calc(0.5 * var(--button-shadow)));

    &:hover {
        opacity: 1;
    }
}


/* HEADER */
header {
    .contentWrapper {
        padding-top: 1.8rem;
        display: flex;
        justify-content: space-between;
    }

    .headerLogo {
        margin-left: 5rem;
        color: #ffffff;
        opacity: 68%;
        font-size: clamp(5rem, 10vw, 7.5rem);
        font-family: MrsEaves;
        text-decoration: none;
    }

    .menuToggle {
        display: none;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        color: #ffffff;
        font-size: 1.3rem;
    }

    li {
        float: left;

        a {
            display: block;
            color: white;
            text-align: center;
            padding: 1rem 1.125rem;
            text-decoration: none;
            transition: 250ms;
        }

        a:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}


/* SECTION HERO */
section.hero .contentWrapper {
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 4rem;

    .coffeeLogo {
        position: relative;
        display: block;
        height: 21.75rem;
        aspect-ratio: 1 / 1;
        transform: translateY(1rem);
    }

    .titles {
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        h1 {
            margin: 0;
            font-size: 4rem;
        }

        h2 {
            margin: 0;
            font-size: 2.5rem;
            font-weight: 200;
        }

        #demoButton {
            --button-font-size: 1.2rem;
            --button-shadow: 1;

            display: inline-block;
            margin-top: 2rem;
        }
    }
}


/* SECTION WHITE */
section.white {
    height: 1000px;
    background-color: #ffffff;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1000px) {
    .container {
        grid-template-columns: 3% 1fr 3%;
    }

    section.hero .contentWrapper {
        gap: 2rem;
    }
}

@media screen and (max-width: 790px) {
    .container {
        grid-template-columns: 1% 1fr 1%;
    }

    header {
        padding-bottom: 2rem;

        .contentWrapper {
            align-items: center;
        }

        .headerLogo {
            font-size: 8rem;
        }

        nav {
            position: relative;
            margin-right: 1.5rem;
        }

        .menuToggle {
            padding: 0.6rem 1.5rem;
            text-align: center;
            display: block;
            color: #ffffff;
            font-size: 2.5rem;
            transition: 250ms ease-in-out;
        }

        .menuToggle:hover,
        .menuToggle:has(+ ul:hover) {
            background-color: rgba(255, 255, 255, 0.3);
        }

        ul {
            visibility: hidden;
            position: absolute;
            right: 0;
            z-index: 500;
            opacity: 0;
            backdrop-filter: blur(0.4rem);
            box-shadow: 0 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.5);
            transition: visibility 0s, opacity 250ms ease;
        }

        ul:hover,
        .menuToggle:hover+ul {
            visibility: visible;
            opacity: 1;
        }

        li {
            float: none;

            a {
                color: #101010;
                background-color: rgba(255, 255, 255, 0.7);
                padding: 0.5rem 2rem;
                font-size: 2rem;
            }

            a:hover {
                background-color: #ffffff;
            }
        }
    }

    section.hero .contentWrapper {
        height: min-content;
        gap: 3rem;

        .coffeeLogo {
            height: 12rem;
            transform: scale(1.25) translateY(1rem);
        }

        .titles {
            h1 {
                font-size: 3rem;
            }

            h2 {
                font-size: 1.8rem;
            }

            #demoButton {
                margin-top: 1rem;
                --button-font-size: 1.5rem;
            }
        }
    }
}